---

# `Instru√ß√µes para o teste`

## ‚ö†Ô∏è Importante

Antes de iniciar, n√£o esque√ßa de renomear esse documento substituindo o texto **SEU_NOME** no t√≠tulo com o nome de quem for resolver.

Deixe as respostas bem sinalizadas e comentadas e mencionando a qual quest√£o se refere.

Fique √† vontade para utilizar quantas c√©lulas forem necess√°rias.

<br><br>

## üìñ Recursos Permitidos
‚úÖ Documenta√ß√£o, sites, f√≥runs  
‚ùå Intelig√™ncias Artificiais (ChatGPT, Claude, etc.)

<br><br>

## üì§ Instru√ß√µes para Entrega

**Ao finalizar o teste** volte a este passo e execute a c√©lula abaixo.

**Envie o arquivo gerado e o arquivo do seu notebook para o e-mail:** `mateus.camacho@tdwbi.com.br`

- Arquivo gerado: `historico_exec.txt` <br>
- Seu notebook: `teste_spark_SEU_NOME.ipynb`

In [ ]:
### EXECUTE ESTA C√âLULA APENAS AO FINAL DO TESTE ###

%history -t /content/historico_exec.txt
from google.colab import files
files.download('/content/historico_exec.txt')

---

# `Quest√µes e Contexto`

## üìÅ Contexto

No diret√≥rio raiz desse documento, existem os tr√™s arquivos que ser√£o necess√°rios para a conclus√£o dessa atividade. Em caso de d√∫vidas, a pasta de se encontra no desktop dessa m√°quina na pasta 'pyspark_test'.

Os dados s√£o fict√≠cios e compreendem uma simula√ß√£o de um cen√°rio de uma loja de departamentos, para isso temos os arquivos com as seguintes informa√ß√µes:
- **users.csv** ‚Üí Dados dos clientes/usu√°rios da loja
- **sales.csv** ‚Üí Dados das vendas
- **products.json** ‚Üí Dados de cadastro dos produtos

<br><br>

## üìù Quest√µes

A atividade consiste nas quest√µes a seguir:

**1.** Declare um novo dataframe que mostre o nome do produto e o valor final da compra.

**2.** Declare um novo dataframe com o valor total gasto por cliente.

**3.** Declare um novo dataframe com os cinco melhores clientes contendo o nome, e-mail e o valor gasto em todo o per√≠odo.

**4.** Declare um novo dataframe com os cinco produtos mais vendidos nos √∫ltimos seis meses (considerando per√≠odo de dados dispon√≠vel nos arquivos) contendo o nome do produto e a quantidade de produtos vendidos nesse per√≠odo.

**5.** Calcular a m√©dia de faturamento por cliente e o desvio padr√£o.

**6.** Classificar os clientes em tr√™s categorias: silver, gold, platinum
- **platinum:** clientes que gastaram mais que a m√©dia de faturamento por cliente;
- **gold:** clientes que gastaram do menor desvio padr√£o at√© a m√©dia de faturamento por cliente;
- **silver:** clientes que gastaram no m√°ximo a m√©dia menos o desvio padr√£o do faturamento por cliente;

**7.** Salvar um arquivo parquet com os tr√™s produtos mais consumidos de cada categoria do cliente.

---

# `Configura√ß√£o do ambiente`

**Execute as c√©lulas abaixo antes de iniciar o teste.**

Os arquivos ser√£o criados automaticamente e estar√£o dispon√≠veis no √≠cone de pasta do menu lateral (conforme imagem abaixo) ou na pasta **content**.

![image.png]()

In [1]:
### IMPORTANDO ARQUIVOS QUE SER√ÉO USADOS NO TESTE ###

!wget https://raw.githubusercontent.com/KaelDucatti/pyspark_test_data/main/products.json -O products.json
!wget https://raw.githubusercontent.com/KaelDucatti/pyspark_test_data/main/sales.csv -O sales.csv
!wget https://raw.githubusercontent.com/KaelDucatti/pyspark_test_data/main/users.csv -O users.csv

path_products = "/content/products.json"
path_sales = "/content/sales.csv"
path_users = "/content/users.csv"

--2025-09-02 18:55:01--  https://raw.githubusercontent.com/KaelDucatti/pyspark_test_data/main/products.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3186 (3.1K) [text/plain]
Saving to: ‚Äòproducts.json‚Äô

products.json       100%[===================>]   3.11K  --.-KB/s    in 0s

2025-09-02 18:55:01 (33.8 MB/s) - ‚Äòproducts.json‚Äô saved [3186/3186]

--2025-09-02 18:55:01--  https://raw.githubusercontent.com/KaelDucatti/pyspark_test_data/main/sales.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24411 (24K) [text/plain]
Saving to: ‚Äòsales.csv‚Äô

sales.csv           100%[===================>]  23.84K  --.-KB/s    in 0.001s

2025-09-02 18:55:01 (21.1 MB/s) - ‚Äòsales.csv‚Äô saved [24411/24411]

--2025-09-02 18:55:01--  https://raw.githubusercontent.com/KaelDucatti/pyspark_test_data/main/users.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20278 (20K) [text/plain]
Saving to: ‚Äòusers.csv‚Äô

users.csv           100%[===================>]  19.80K  --.-KB/s    in 0.001s

2025-09-02 18:55:01 (35.6 MB/s) - ‚Äòusers.csv‚Äô saved [20278/20278]

In [130]:
### IMPORTANDO BIBLIOTECAS NECESS√ÅRIAS ###

from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [3]:
### INSTANCIANDO SPARK ###

spark = SparkSession.builder.appName('test-spark').getOrCreate()

---

# Seu teste come√ßa aqui üçÄ Boa sorte!

In [39]:
df_products = spark.read.json('./products.json')
df_products = df_products.withColumn('price', regexp_replace(col('price'), '\\$', '').cast(FloatType()))
df_products.printSchema()
df_products.show(5)

root
 |-- price: float (nullable = true)
 |-- product: string (nullable = true)
 |-- product_id: long (nullable = true)

+------+----------------+----------+
| price|         product|product_id|
+------+----------------+----------+
|  86.5|     Camisa Polo|         1|
|112.11|     Cal√ßa Jeans|         2|
|100.19|Vestido de Ver√£o|         3|
| 82.38| T√™nis Esportivo|         4|
| 101.5| Camiseta B√°sica|         5|
+------+----------------+----------+
only showing top 5 rows

In [32]:
df_sales = spark.read.csv('./sales.csv', header=True)
df_sales = df_sales.withColumn('qtde', col('qtde').cast(IntegerType()))
df_sales = df_sales.withColumn('date', to_date(col('date'), 'dd/MM/yyyy'))
df_sales.printSchema()
df_sales.show(5)

root
 |-- sale_id: string (nullable = true)
 |-- date: date (nullable = true)
 |-- product_id: string (nullable = true)
 |-- client_id: string (nullable = true)
 |-- qtde: integer (nullable = true)

+-------+----------+----------+---------+----+
|sale_id|      date|product_id|client_id|qtde|
+-------+----------+----------+---------+----+
|      1|2022-06-13|        30|      223|   2|
|      2|2022-11-16|        23|      175|   2|
|      3|2022-08-18|        29|      184|   2|
|      4|2022-03-13|        31|      194|   1|
|      5|2022-12-14|        13|      221|   2|
+-------+----------+----------+---------+----+
only showing top 5 rows

In [7]:
df_users = spark.read.csv('./users.csv', header=True)
df_users.show(5)

+---------+-------------------+--------------------+------+--------------+----------------+
|client_id|               name|               email|gender|         login|        password|
+---------+-------------------+--------------------+------+--------------+----------------+
|        1|   Mitch Kilpatrick|mkilpatrick0@cdc.gov|     M|  mkilpatrick0|      uE9+F7h5*P|
|        2|          Kit Kyncl|kkyncl1@miitbeian...|     M|       kkyncl1|        nZ1>gR%L|
|        3|    Marylou Presman|mpresman2@twitter...|     F|     mpresman2|        aP2#@KQI|
|        4|   Gilberta Andrieu|gandrieu3@4shared...|     M|     gandrieu3|oN2/1oW(IPSNWwoW|
|        5|Tobiah Boughtflower|tboughtflower4@pa...|     M|tboughtflower4| hD7{HV(oHo'C&P.|
+---------+-------------------+--------------------+------+--------------+----------------+
only showing top 5 rows

In [126]:
df_sales_total = df_sales.join(df_products, on='product_id', how='inner')
df_sales_total = df_sales_total.join(df_users, on='client_id', how='inner')
df_sales_total = df_sales_total.withColumn('Total Value', df_sales_total.price * df_sales_total.qtde)
df_sales_total.show()

+---------+----------+-------+----------+----+------+------------------+--------------------+--------------------+------+---------------+----------------+-----------+
|client_id|product_id|sale_id|      date|qtde| price|           product|                name|               email|gender|          login|        password|Total Value|
+---------+----------+-------+----------+----+------+------------------+--------------------+--------------------+------+---------------+----------------+-----------+
|      223|        30|      1|2022-06-13|   2|107.25|     Blusa Cropped|     Kiele Reichardt|kreichardt66@furl...|     F|   kreichardt66|    gW5+<jBzUad\|      214.5|
|      175|        23|      2|2022-11-16|   2|109.19|Camiseta Estampada|        Liva Boswood|lboswood4u@illino...|     M|     lboswood4u|   cP3/fQcBo1cvX|     218.38|
|      184|        29|      3|2022-08-18|   2|122.27|     √ìculos de Sol|Elfie Mac Giolla ...|    emac53@ifeng.com|     F|         emac53|        dL2#oouC|     244.54|
|      194|        31|      4|2022-03-13|   1|105.96|        Bolsa Tote|     Sander Langshaw|slangshaw5d@oracl...|     F|    slangshaw5d|        eZ6/ZNK7|     105.96|
|      221|        13|      5|2022-12-14|   2| 80.76|     Camisa Social|  Patric Cullingford|pcullingford64@us...|     F| pcullingford64|     oC4{Rl/tHGu|     161.52|
|      206|        26|      6|2022-01-18|   1| 85.49|Conjunto de Pijama|      Vidovik Linham| vlinham5p@intel.com|     F|      vlinham5p|  gK0\((H\BGv~Ao|      85.49|
|      123|        28|      7|2022-10-12|   2|112.02|     Camiseta Polo|         Drucy Baert| dbaert3e@discuz.net|     F|       dbaert3e|      hB7%NEc6u4|     224.04|
|      269|        39|      8|2022-06-15|   2| 95.66|        Macaquinho|   Lind Bickerstasse|lbickerstasse7g@h...|     F|lbickerstasse7g|          S1*b!w|     191.32|
|      179|        36|      9|2022-02-15|   3|100.59|     Chap√©u Fedora|         Lynnet Adie|    ladie4y@java.com|     F|        ladie4y|      iZ4!k+lkXG|     301.77|
|      148|        41|     10|2022-12-06|   1|  98.9|    Blusa de Renda|     Ignatius Baudic|ibaudic43@dailyma...|     M|      ibaudic43|    cB6.()0Cdb\Z|       98.9|
|       81|        34|     11|2022-04-30|   1| 102.7|     Camisa Xadrez|    Clementius Keele|  ckeele28@google.de|     M|       ckeele28| vF0*a}nC$<0(j=`|      102.7|
|       98|        48|     12|2022-04-05|   3| 83.92|         Sapat√™nis|    Sunshine Sewards|  ssewards2p@cdc.gov|     M|     ssewards2p| tH7%NP*d\fYYeaD|     251.76|
|      180|        24|     13|2022-03-24|   1|123.33|        Sapatilhas|        Eva Coppock.|  ecoppock4z@fda.gov|     F|     ecoppock4z| aH9_CYOdlOIJcyY|     123.33|
|       97|         1|     14|2022-11-20|   3|  86.5|       Camisa Polo|    Remington Blakey|rblakey2o@princet...|     M|      rblakey2o|  vD2RJ.#`NX(=Ri|      259.5|
|      270|        12|     15|2022-03-23|   2|117.88| Casaco de Inverno|      Tammi Blancowe|tblancowe7h@dedec...|     F|    tblancowe7h|  sZ0{1Z9/|rv6Sa|     235.76|
|      128|        25|     16|2022-11-28|   1| 82.64|Su√©ter de Cashmere|     Flint Dabrowski|   fdabrowski3j@t.co|     F|   fdabrowski3j|       jQ1=*`V)P|      82.64|
|      165|        49|     17|2022-04-24|   2| 109.3|Cal√ßa Cintura Alta|     Humfrid Traylen|htraylen4k@nydail...|     M|     htraylen4k|dZ7+LHI5dz`W7\oJ|      218.6|
|       18|        28|     18|2022-10-21|   3|112.02|     Camiseta Polo|      Edgard Stuckow|estuckowh@spotify...|     F|      estuckowh|  sT6$4#U1H%tTnK|     336.06|
|      205|         9|     19|2022-10-01|   1|116.02|     Jaqueta Jeans|       Ferrel Orriss|forriss5o@tinyurl...|     F|      forriss5o|        aO6)yK1+|     116.02|
|      143|        47|     20|2022-04-10|   1|  95.6|  Vestido Camisola|     Anestassia Saby|asaby3y@timesonli...|     M|        asaby3y|yX5/=bI@Q'lsk{=/|       95.6|
+---------+----------+-------+----------+----+------+------------------+--------------------+--------------------+------+---------------+----------------+-----------+
only showing top 20 rows

In [127]:
#Quest√£o 1
df_sales_total.select(col('product'), col('Total Value')).show(5)

+------------------+-----------+
|           product|Total Value|
+------------------+-----------+
|     Blusa Cropped|      214.5|
|Camiseta Estampada|     218.38|
|     √ìculos de Sol|     244.54|
|        Bolsa Tote|     105.96|
|     Camisa Social|     161.52|
+------------------+-----------+
only showing top 5 rows

In [119]:
#Quest√£o 2
df_total_expense_by_client = df_sales_total.groupBy('name', 'client_id').agg(sum('Total Value').alias('Gasto Total'))
df_total_expense_by_client = df_total_expense_by_client.withColumn('Gasto Total', round(col('Gasto Total'), 2))
df_total_expense_by_client.select(col('name'), col('Gasto Total')).show()

+-------------------+-----------+
|               name|Gasto Total|
+-------------------+-----------+
|      Cory Housiaux|     787.38|
|  Vivianna Arnholtz|    1205.24|
|    Collette Ladell|     811.12|
|      Dulcy Birkett|    1518.37|
|        Blayne Sirr|      95.66|
|    Paulette Bracer|     818.59|
|      Eben Fairhead|     212.41|
|Margarethe Prigmore|    1713.44|
|       Cary Syddall|    1107.99|
|      Maurits Scade|    1041.72|
|  Hilliard Wadforth|     669.54|
|   Kristien Whitlaw|     1080.8|
|        Lem Millott|     191.32|
|       Allyson Calf|     489.83|
|       Jewel Bootes|     278.89|
|      Sammie Gidley|    1114.88|
|     Ganny Richards|    1278.64|
|        Curr Whisby|    1205.36|
|        Lynne Volet|    1008.74|
|  Dewitt Christofle|     330.18|
+-------------------+-----------+
only showing top 20 rows

In [77]:
#Quest√£o 3

df_top_5_clients = df_sales_total.groupBy('name', 'email').agg(sum('Total Value').alias('Gasto Total')).orderBy(col('Gasto Total').desc()).limit(5)
df_top_5_clients = df_top_5_clients.withColumn('Gasto Total', round(col('Gasto Total'), 2))
df_top_5_clients.show()

+-----------------+--------------------+-----------+
|             name|               email|Gasto Total|
+-----------------+--------------------+-----------+
|Randa Friedenbach|rfriedenbach3m@pa...|    2240.51|
|  Giuditta Blease|gblease6s@friendf...|    1902.85|
|     Cher Higford| chigfordn@issuu.com|    1843.35|
|    Keen Juggings|kjuggings5j@phoca.cz|    1795.86|
|    Alfie Pattlel|apattlelu@discuz.net|     1755.6|
+-----------------+--------------------+-----------+

In [95]:
#Quest√£o 4
df_top_5_products = df_sales_total.filter(col('date') >= date_sub(to_date(lit('2022-12-30')), 180)).groupBy('product').agg(sum('qtde').alias('qtde Total')).orderBy(col('qtde Total').desc()).limit(5)
df_top_5_products.show()

+--------------------+----------+
|             product|qtde Total|
+--------------------+----------+
|          Macaquinho|        39|
|Blusa de Manga Longa|        34|
|      Bolsa de Couro|        27|
|     Mochila de Lona|        27|
|   Casaco de Inverno|        27|
+--------------------+----------+

In [111]:
#Quest√£o 5
df_mean_std = df_sales_total.groupBy('name').agg(mean('Total Value').alias('Media'), stddev('Total Value').alias('Desvio Padr√£o'), count('Total Value').alias('Contagem vendas'))
df_mean_std= df_mean_std.fillna(0, subset=['Desvio Padr√£o'])
df_mean_std.show()

+-------------------+------------------+------------------+---------------+
|               name|             Media|     Desvio Padr√£o|Contagem vendas|
+-------------------+------------------+------------------+---------------+
|       Karel Laight|226.10800018310547| 104.4691214958583|              5|
|     Melita Drewson|133.06499671936035|47.437659724430205|              4|
|  Shandeigh Ferries|222.38000106811523|147.78532266278503|              2|
|      Enid Couthard|233.27000427246094| 89.70357748250237|              2|
|Tobiah Boughtflower|224.22000122070312|               0.0|              1|
|       Cary Syddall|  276.997501373291| 67.73184585466649|              4|
|      Ferrel Orriss| 157.0520004272461| 72.74503706913426|              5|
|    Giuditta Blease|190.28500061035157| 97.16151070155102|             10|
|     Christye Ryton| 281.1974906921387| 66.24854471195366|              4|
|     Tedman Gerssam|208.78800506591796|117.04776272862307|              5|
|  Skipton Coldicott| 82.63999938964844|               0.0|              1|
|      Pepito Mocher|108.95999908447266|               0.0|              1|
|          Kym Beade| 110.2699966430664|               0.0|              1|
|       Liva Boswood|155.16000366210938| 89.40658313956199|              2|
|        Ethyl Yoxen|214.52142987932478| 88.95755853657819|              7|
|      Morgana Kenen|348.05999755859375|               0.0|              1|
|  Loydie Dunkersley|161.55142974853516|120.25761982238993|              7|
|    Samaria Bottjer|258.18499755859375|106.71933430411767|              6|
|    Alvinia Drakers| 231.7800064086914|169.23894520927914|              2|
|  Priscella Gaywood| 308.0999755859375|               0.0|              1|
+-------------------+------------------+------------------+---------------+
only showing top 20 rows

In [121]:
#Quest√£o 6
df_metrics = df_total_expense_by_client.agg(mean('Gasto Total').alias('Media'), stddev('Gasto Total').alias('DP'))
metrics = df_metrics.collect()[0]
media = metrics.Media
desvio_padrao = metrics.DP

df_classification = df_total_expense_by_client.withColumn('Categoria', when(col('Gasto Total') > media, 'Platinum').when(col('Gasto Total') > media - desvio_padrao, 'Gold').otherwise('Silver'))
df_classification.select(col('name'), col('Gasto Total'), col('Categoria')).show()

+-------------------+-----------+---------+
|               name|Gasto Total|Categoria|
+-------------------+-----------+---------+
|      Cory Housiaux|     787.38| Platinum|
|  Vivianna Arnholtz|    1205.24| Platinum|
|    Collette Ladell|     811.12| Platinum|
|      Dulcy Birkett|    1518.37| Platinum|
|        Blayne Sirr|      95.66|   Silver|
|    Paulette Bracer|     818.59| Platinum|
|      Eben Fairhead|     212.41|   Silver|
|Margarethe Prigmore|    1713.44| Platinum|
|       Cary Syddall|    1107.99| Platinum|
|      Maurits Scade|    1041.72| Platinum|
|  Hilliard Wadforth|     669.54|     Gold|
|   Kristien Whitlaw|     1080.8| Platinum|
|        Lem Millott|     191.32|   Silver|
|       Allyson Calf|     489.83|     Gold|
|       Jewel Bootes|     278.89|   Silver|
|      Sammie Gidley|    1114.88| Platinum|
|     Ganny Richards|    1278.64| Platinum|
|        Curr Whisby|    1205.36| Platinum|
|        Lynne Volet|    1008.74| Platinum|
|  Dewitt Christofle|     330.18|     Gold|
+-------------------+-----------+---------+
only showing top 20 rows

In [132]:
#Quest√£o 7
df_sales_by_category = df_sales_total.groupBy('Categoria', 'product').agg(sum('qtde').alias('Total vendido'))
df_sales_by_category.show()

window_category = Window.partitionBy('Categoria').orderBy(col('Total vendido').desc())
df_top_3_products = df_sales_by_category.withColumn('Ranking', row_number().over(window_category)).filter(col('Ranking') <= 3)
df_top_3_products.show()

df_top_3_products.write.parquet('top_3_products.parquet')